* {
	margin: 0px;
	padding: 0px;
	font-family: "Lucida Sans", "Segoe UI", "Trebuchet MS", Ubuntu, Tahoma;
}

body {
	background-color: #1a1b1f;
	color: white;
	font-size: 14pt;
	overflow: hidden;
}

header {
	position: fixed;
	top: 0px;
	width: 100%;
	padding: 0.5em;	
	background-color: #2a2b2f;
	border-bottom: 1px solid grey;
	z-index: 666;
}

h1, header input {
	font-size: 16pt;
}

header h1 {
	float: left;
}

header input {
	float: right;
	font-size: 14pt;
	margin-right: 1em;
	background-color: #1a1b1f;
	color: white;
	border: 1px solid grey;
}

#temp {
	padding: 2em;
}

.tweet {
	font-size: 10pt;
	width: 40%;
	border: 1px solid grey;
	padding: 0.5em;
	display: block;
	min-height: 50px;
	background-color: black;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.tweet img {
	display: inline;
	margin-right: 0.5em;
	width: 48px;
	height: 48px;
}

.tweet a {
	color: #2fc2ef;
	text-decoration: none;
}
