* {
	margin: 0px;
	padding: 0px;
	font-family: "Lucida Sans", "Segoe UI", "Trebuchet MS", Ubuntu, Tahoma;
}

body {
	background-color: #1a1b1f;
	color: white;
	font-size: 14pt;
	overflow: hidden;
}

header {
	position: fixed;
	top: 0px;
	width: 100%;
	padding: 0.5em;
	background-color: #2a2b2f;
	border-bottom: 1px solid grey;
	z-index: 666;
}

h1 {
	font-size: 16pt;
}

h2 {
	font-size: 12pt;
}

header h1, header h2 {
	float: left;
}

header h1 {
	padding-left: 0.5em;
}

#logger {
	padding-top: 0.4em;
	padding-left: 2em;
	color: silver;
}

header input {
	float: right;
	font-size: 12pt;
	padding: 0.4em;
	width: 30%;
	margin-right: 1em;
	background-color: #1a1b1f;
	color: white;
	border: 1px solid grey;
}

#maps {
	height: 100%;
	width: 100%;
	left: 0px;
	top: 0px;
	position: absolute;
}

#tweets {
	position: absolute;
	top: 2.6em;
	height: 100%;
	right: 0.6em;
	width: 30%;
	padding: 0.5em;
}

.tweet {
	font-size: 10pt;
	width: 100%;
	padding: 0.5em;
	display: block;
	min-height: 50px;
	background-color: black;
	margin-bottom: 0.3em;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.tweet img {
	float: left;
	margin-right: 0.5em;
	width: 48px;
	height: 48px;
}

.tweet a {
	color: #2fc2ef;
	text-decoration: none;
}
